<h1 class="content-subhead"><%= @dish.name %></h1>

<div class="pure-g">
  <div class="pure-u-1-2">
      <img class="pure-img-responsive" src="<%= @dish.image_url %>" alt="Dish">
  </div>
</div>

<h4><%= @dish.venues[0].name %></h4>

<p><a href="/dishes/<%= @dish.id %>/edit">Edit</a></p>

<p>
  <form action="/dishes/<%= @dish.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>Delete</button>
  </form>
</p>

<h3>Comments:</h3>
<% @comments.each do |comment| %>
  <p><%= comment.content %></p>

<% end %>

<%= form_tag '/comments' do %>
  <input type="hidden" name="dish_id" value="<%=@dish.id%>">
  <input type="text" name="content"><br>
  <button>Post Comment</button>
<% end %>

<a href="/dishes">Back</a>